body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
}

.stopPoint {
    padding: 10px;
    margin: 10px 0;
    background-color: #e9ecef;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.stopPoint h3 {
    margin-top: 0;
}

.stopPoint p {
    margin: 5px 0;
}

.stopPoint ul {
    list-style-type: none;
    padding-left: 0;
}

.stopPoint ul li {
    background: #007BFF;
    color: white;
    padding: 5px;
    margin: 3px 0;
    border-radius: 4px;
}
